/*#####################################################################################################################*/
/* ------------------------------------------- Własny CSS -------------------------------------------------------------*/ 
/*#####################################################################################################################*/

/*#####################################################################################################################*/
/* Główne*/
/*#####################################################################################################################*/

body{

    font-family: 'Open Sans';
    color: #34495e;
    background-color: #ffffff;
}

.btn-success{
	background-color: #1abc9c;
	border-color: #1abc9c;
	margin-top: 4rem;
}

.btn-success:hover{
	background-color: #48c9b0;
	border-color: #48c9b0;
}


/*#####################################################################################################################*/
/* Typografia */
/*#####################################################################################################################*/

h1,h2,h3,h4,h5,h6{
    color: #5c6166;
    font-weight: 300;
}

h1{
    font-size:  6rem;
}

h2{
    font-size:  4rem;
    line-height: 6rem;
}

h3{
    font-size:  2.5rem;
    line-height: 3rem;
}

h4{
    font-size:  2rem;
    line-height: 3rem;
    color:#a4abb3;  
}

.naglowek_czerwony{
	color: #fc4349;
}

a:hover{
	text-decoration: none;
}

.glyphicon{
	color: #6dbcdb;
}

/*#####################################################################################################################*/
/* Menu Górne*/
/*#####################################################################################################################*/
#menu{
	background-color: #2c3e50;
}

.navbar{
	background-color: #2c3e50;
	font-size: 1.7rem;
	color: #ffffff;
	padding-top: 3rem;
	border-color: #2c3e50;
}

.navbar-outer{
	width: 1200px;
}

.navbar-inverse .navbar-nav > li > a{
	color: #ffffff;
	margin-left: 5px;
	border: 1px solid transparent;
	line-height: 1rem;
}

.navbar-inverse .navbar-nav > li > a:hover{
	display: block;
	color: #fc4349;
	border: 1px solid transparent;
	border-color: #fc4349;
	line-height: 1rem;
	border-radius: 4px;
	transition: all 0.7s ease;
}

.navbar-inverse .navbar-nav > .active > a{
	display: block;
	border-color: #ffffff;
	background-color: #2c3e50;
	border-radius: 4px;
}

.navbar-inverse .navbar-nav > .active > a:hover{
	color: #fc4349;
	background-color: #2c3e50;
}


#logo img{
	display: block;
	float:  none;
	margin-top: -1rem;
}
}
/*#####################################################################################################################*/
/* Efekt Carousel pełna szerokośc okna */
/*#####################################################################################################################*/

#pokaz-slajdow{
	padding-top: 9rem;
	height: 600;
}

.carousel .item{
	width: 100%;
	max-height: 900px;
}

.carousel .item img{
	width: 100%;
}

.carousel .carousel-control{
	background-color: none;
	border: none;
	top: 50%;
}

.carousel-caption{
	top: 100px;
	bottom: auto;
}

.carousel-caption h1{
	text-transform: uppercase;
	font-weight: 550;
	line-height: 8rem;
	color:#ffffff;
}

.carousel-caption p{
	font-size: 2.5rem;
	font-weight: 300;
	color: #ffffff;
}
/*#####################################################################################################################*/
/* Nowosci*/
/*#####################################################################################################################*/
#nowosci{
	padding-top: 8rem;
	padding-bottom: 3rem;
	text-align: center;
}

.nowosci_panel{
	padding-top: 1rem;
	padding-bottom: 2rem;
	text-align: left;
	border-bottom: solid 1px #e5e5e5;
}

.nowosci_panel:hover{
	background-color: #f7f8fa;
}



/*#####################################################################################################################*/
/* O nas */
/*#####################################################################################################################*/
#onas{
	padding-top: 8rem;
	padding-bottom: 3rem;
	text-align: center;
}

.onas_naglowek{
	margin-bottom: 5rem;
}

.thumbnail{
	background-color: #1abc9c;
	border-radius: 6px;
	padding: 2rem;
	height: 60%;
}

.thumbnail h3{
	color: #ffffff;
}

.thumbnail p{
	font-size: 1.5rem;
	color: #ffffff;
}

/*#####################################################################################################################*/
/* Liczby */
/*#####################################################################################################################*/
#liczby{
	padding-top: 5rem;
	padding-bottom: 3rem;
	background-color: #6dbcdb;
}

#liczby h1,
#liczby h5{
	color: #6dbcdb;
}
#liczby h3,
#liczby p{
	color: #ffffff;
}


.liczby_kafelek{
	background-color: #ffffff;
	padding-top: 2rem;
	padding-bottom: 3rem;
	margin-bottom: 2rem;
	text-align: center;
	border-radius: 0.4rem;
}

.liczby_kafelek h1{
	font-weight: 500;
}
.liczby_kafelek h5{
	font-size: 2rem;
}
/*#####################################################################################################################*/
/* Zespół */
/*#####################################################################################################################*/
#zespol{
	padding-top: 8rem;
	padding-bottom: 3rem;
	text-align: center;
}

.zespol_naglowek{
	padding-bottom: 5rem;
}

.nav-pills >li {
	float: none;
	padding-left: 1rem;
	display: inline-block;
}

.nav-pills >li >a{
	border: 1px solid #fc4349;
	color: #fc4349;
}

.nav-pills >li.active >a,
.nav-pills >li.active >a:focus,
.nav-pills >li.active >a:hover{
	color: #ffffff;
	background-color: #fc4349;
}

.nav-pills >li >a:hover{
	border: 1px solid #fc4349;
	background-color: #ffffff;
}	

.nav-pills{
	text-align: center;
	padding-bottom: 2rem;
}
.zespol_przyciski{

}

.zespol_ikony{

}

/*#####################################################################################################################*/
/* Współpracowicy */
/*#####################################################################################################################*/



/*#####################################################################################################################*/
/* Kursy */
/*#####################################################################################################################*/



/*#####################################################################################################################*/
/* Klienci */
/*#####################################################################################################################*/



/*#####################################################################################################################*/
/* Promocje */
/*#####################################################################################################################*/




/*#####################################################################################################################*/
/* Wyprzedaż */
/*#####################################################################################################################*/


/*#####################################################################################################################*/
/* Kontakt */
/*#####################################################################################################################*/


/*#####################################################################################################################*/
/* Stopka */
/*#####################################################################################################################*/

